.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.first {
  font-family: "SueEllen";
  font-size: 54px;
}

.last {
  font-family: "Montserrat";
  font-size: 54px;
}

.name {
  margin-right: 16rem;
}

.image {
  width: 16rem;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.roles {
  margin-top: 8rem;
  height: 160px;
  overflow:hidden;
  
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 40px;
}
  
.roles_container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

.roles_container::before {
  content: '[';
  color: #F90B0B;
  font-size: 36px;
  line-height: 40px;
  
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 3.7s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 3.7s;
  animation-iteration-count: infinite;
}

.roles_container::after {
  content: ']';
  color: #F90B0B;
  font-size: 36px;
  line-height: 40px;
  
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 3.7s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 3.7s;
  animation-iteration-count: infinite;
}

.roles_container_text {
  display: inline;
  float: left;
  margin: 0;
}

.roles_container_list {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  -webkit-animation-name: change;
  -webkit-animation-duration: 36s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 36s;
  animation-iteration-count: infinite;
}

.roles_container_list_item {
  line-height:40px;
  margin: 0px;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 8%, 100% {transform:translate3d(0,0,0);}
  10%, 18% {transform:translate3d(0,-40px,0);}
  20%, 28% {transform:translate3d(0,-80px,0);}
  30%, 38% {transform:translate3d(0,-120px,0);}
  40%, 48% {transform:translate3d(0,-160px,0);}
  50%, 58% {transform:translate3d(0,-200px,0);}
  60%, 68% {transform:translate3d(0,-160px,0);}
  70%, 78% {transform:translate3d(0,-120px,0);}
  80%, 88% {transform:translate3d(0,-80px,0);}
  90%, 98% {transform:translate3d(0,-40px,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 8%, 100% {transform:translate3d(0,0,0);}
  10%, 18% {transform:translate3d(0,-40px,0);}
  20%, 28% {transform:translate3d(0,-80px,0);}
  30%, 38% {transform:translate3d(0,-120px,0);}
  40%, 48% {transform:translate3d(0,-160px,0);}
  50%, 58% {transform:translate3d(0,-200px,0);}
  60%, 68% {transform:translate3d(0,-160px,0);}
  70%, 78% {transform:translate3d(0,-120px,0);}
  80%, 88% {transform:translate3d(0,-80px,0);}
  90%, 98% {transform:translate3d(0,-40px,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 8%, 100% {transform:translate3d(0,0,0);}
  10%, 18% {transform:translate3d(0,-40px,0);}
  20%, 28% {transform:translate3d(0,-80px,0);}
  30%, 38% {transform:translate3d(0,-120px,0);}
  40%, 48% {transform:translate3d(0,-160px,0);}
  50%, 58% {transform:translate3d(0,-200px,0);}
  60%, 68% {transform:translate3d(0,-160px,0);}
  70%, 78% {transform:translate3d(0,-120px,0);}
  80%, 88% {transform:translate3d(0,-80px,0);}
  90%, 98% {transform:translate3d(0,-40px,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 8%, 100% {transform:translate3d(0,0,0);}
  10%, 18% {transform:translate3d(0,-40px,0);}
  20%, 28% {transform:translate3d(0,-80px,0);}
  30%, 38% {transform:translate3d(0,-120px,0);}
  40%, 48% {transform:translate3d(0,-160px,0);}
  50%, 58% {transform:translate3d(0,-200px,0);}
  60%, 68% {transform:translate3d(0,-160px,0);}
  70%, 78% {transform:translate3d(0,-120px,0);}
  80%, 88% {transform:translate3d(0,-80px,0);}
  90%, 98% {transform:translate3d(0,-40px,0);}
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.svg {
  fill: none;
}

.button1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (prefers-color-scheme: dark) {

  .button_text {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: white;
    font-family: "Montserrat";
    font-size: 16px;
  }

  .button {
    stroke: white;
  }

}

@media (prefers-color-scheme: light) {

  .button_text {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: black;
    font-family: "Montserrat";
    font-size: 16px;
  }

  .button {
    stroke: black;
  }
  
}

.svg:hover .button{
  stroke: #F90B0B;
}

.svg:hover .button_text {
  fill: #F90B0B;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

