.container {
  padding: 0 0.5rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 80%;
}

.first {
  font-family: "SueEllen";
  font-size: 54px;
}

.last {
  font-family: "Montserrat";
  font-size: 54px;
}

.image {
  width: 50%;
  min-width: 10rem;
  display: flex;
  justify-content: flex-end;
}

.image img {
  max-width: 10rem;
  max-height: 10rem;
}

.roles {
  margin-top: 8rem;
  overflow:hidden;
  font-family: "Montserrat";
  font-size: 16px;
  height: 160px;
  width: 100%;
}
  
.roles_container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0 40px;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all .4s ease;
}

.roles_container::before {
  content: '[';
  color: #F90B0B;
  font-size: 42px;
  line-height: 48px;
  
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.roles_container::after {
  content: ']';
  color: #F90B0B;
  font-size: 42px;
  line-height: 48px;
  
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.roles_container_list_item {
  width: 100%;
  max-width: 32rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.roles_container_list_item_intro {
  
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.svg { 
  transition: all 0.4s ease;
}

.svg:hover {
  filter: none !important;
  transform: translateY(-6px)
}

.button1 {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (prefers-color-scheme: dark) {

  .button_text {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: white;
    font-family: "Montserrat";
    font-size: 16px;
  }

  .button {
    stroke: white;
  }

}

@media (prefers-color-scheme: light) {

  .button_text {
    dominant-baseline: middle;
    text-anchor: middle;
    fill: black;
    font-family: "Montserrat";
    font-size: 16px;
  }

  .button {
    stroke: black;
  }
  
}

.svg:hover .button{
  stroke: #F90B0B;
}

.svg:hover .button_text {
  fill: #F90B0B;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

